{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Setup | Upzet - React Admin & Dashboard Template | Docs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- App favicon -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Bootstrap Css -->
  <link href="{% static 'user_application/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet"
    type="text/css" />
  <!-- Icons Css -->
  <link href="{% static 'user_application/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="{% static 'user_application/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
  {% block add_css %} {% endblock %}
</head>

<body data-topbar="dark" data-spy="scroll" data-target=".right-side-nav" data-offset="175">
  <!-- Begin page -->
  <div id="layout-wrapper">

    <header id="page-topbar">
      <div class="navbar-header">
        <div class="d-flex">
          <!-- LOGO -->
          <div class="navbar-brand-box">
            <a href="#" class="logo logo-light">
              <span class="logo-sm">
                <img src="assets/images/logo-light.png" alt="" height="25">
              </span>
              <span class="logo-lg">
                <img src="assets/images/logo-light.png" alt="" height="20"> <span class="badge badge-soft-success ml-2">My Head Hunter site</span>
              </span>
            </a>
          </div>

          <button type="button" class="btn btn-sm px-3 font-size-24
                            header-item waves-effect d-lg-none" id="vertical-menu-btn">
            <i class="mdi mdi-menu"></i>
          </button>


        </div>

        <div class="d-flex">


          <div class="d-none d-md-inline-block">
            <a href="{% url 'user_application:create_resume' %}"
               class="header-item">Создание Резюме</a>
          </div>

          <div class="d-inline-block">
            <h5 class="header-item m-0">
              {% if user.is_authenticated %}
              <a href="#" class="header-item">User: {{user.username}}</a>
              {% else %}
              <a href="#" class="header-item">Зарегистрироваться</a>
              {% endif %}
              </h5>
          </div>

        </div>
      </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
      <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
            <li class="menu-title">Меню навигации</li>
            <li>
              <a href="{% url 'user_application:create_resume' %}" class="waves-effect">
                 <img src="{% static 'user_application/images/search.png' %}" alt='Hi!' width="30px" height="30px"/>
                <span>Создать резюме</span>
              </a>
            </li>

            <li>
              <a href="{% url 'user_application:resume_list' %}" class="waves-effect">
                 <img src="{% static 'user_application/images/search.png' %}" alt='Hi!' width="30px" height="30px"/>
                <span>Посмотреть резюме</span>
              </a>
            </li>

            <li>
              <a href="{% url 'profile:profile' %}" class="waves-effect">
                <img src="{% static 'user_application/images/search.png' %}" alt='Hi!' width="30px" height="30px"/>
                <span>Профиль</span>
              </a>
            </li>

          </ul>
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

      <div class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="p-lg-1">
                    <div class="d-xl-flex">
                      <div class="w-100">
                        <div>
                            {% block content %}{% endblock %}
                          <!-- intro start -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->


      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
               MyHHSite <script>document.write(new Date().getFullYear())</script>
            </div>
            <div class="col-sm-6">
              <div class="text-sm-right d-none d-sm-block">Создавайте свое резюме с нами</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->

</body>

</html>