{% extends 'user_application/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="white_block">
        <h1>Создание резюме</h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            {% for field in form %}
            {% if field.name == 'user' or field.name == 'resume' %}
            <div class="form-group">
                <div> {{field}}</div>
                <div class="error">{{field.errors}}</div>
            </div>
            {% else %}

            {% if field.name == 'name' or field.name == 'job' or field.name == 'lvl' or field.name == 'skill' or field.name == 'native' or field.name == 'list_languages'%}

            {% if title %}
            <br/>
                <h3>{{title}}</h3>
            {% endif %}
            {% endif %}

            <div class="form-group">
                <div class="form_element">
                    <div class="form_pole">{{field}}</div>
                </div>
                <div class="error">{{field.errors}}</div>
            </div>

            {% endif %}
            {% endfor %}
            <p><button class='btn btn-primary' type="submit">Отправить</button> </p>
        </form>
    </div>
</div>
{% endblock %}