{% extends 'user_application/base.html' %}
{% block content %}
<div class="resume_list">

        {% for res in resume %}
            {% for prof in profession %}
                {% if res.pk == prof.resume.pk %}
            <div class="resume_items">
                    <div class="white_block">
                        <div class="item_resume">Должность: {{prof.work_schedule}}</div>
                        <div class="item_resume">Желаемая зарплата: {{prof.salary}}</div>
                        <div class="item_resume">Стадия рассмотрения анкеты: {{res.stage}}</div>
                        <div class="check_resume"><a href="{% url 'user_application:check_resume' res.pk %}">Посмотреть резюме</a></div>
                    </div>
        </div>
        {% endif %}

        {% endfor %}
            {% endfor %}

    </div>
{% endblock %}


