body{
  overflow-x: hidden;
  margin: 0;
  font-size: 24px;
}
.base_page, .container {
  display: flex; /* Отображение элементов */
  flex-direction: column; /* Направление по вертикали */

}
.left_nav{
    display: flex; /* Отображение элементов */
    flex-direction: column; /* Направление по вертикали */
    width: 200px;
    box-shadow: 26px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.container{
    background: #EEEFF1;
    width: 100%;


}
.container_nav{
    height: 100%;
}
.container_nav, .header, .left, .right, .form_element{
    display: flex; /* Отображение элементов */
    flex-direction: row; /* Направление по вертикали */
}
.item_left_navbar, .content{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.header{
    justify-content: space-between;
}
.left_item{
    margin-left: 10px;
    margin-top: 10px;
}
.white_block{

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    display: flex; /* Отображение элементов */
    flex-direction: column; /* Направление по вертикали */
}
.accept {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
.check_resume {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  display: inline-block;
  font-size: 8px;
  width: 250px;
}
 a{
text-decoration: none;

}
.item_left_navbar a{
color: #000000;
}
.check_resume a{
color: #FFFFFF;
font-size: 24px;
}

.form_label{
    margin-right: 10px;
}
.form-group{
    margin-top: 10px;
}
.resume_list{
    display: flex; /* Отображение элементов */
    flex-direction: column; /* Направление по вертикали */
}
.check_resume, .item_resume{
    margin-top: 5px;
    margin-bottom: 5px;

}
.resume_items{
    padding-bottom: 20px;
}
.item_me_resume_title{
    font-size: 30px;
}